* {
  box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(black, white);
    height: 100%;
    min-width: 1200px;
}



#header {
    padding: 80px;
    text-align: center;
    font-size: 35px;
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("../img/dndBanner.jpg");
    background-size: 90%;
    background-repeat:repeat-x;
    position:inherit;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header h2 {
    background: black;
    opacity: .6;
    font-weight: bold;
    max-width: 1060px;
    margin: auto;
}

#name {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;

/*    border: solid; */
    background: white;
    text-align: center;
    background-image: linear-gradient(transparent, white);
}

#progressBar {
    padding: 10px;
/*    border: solid;  */
    text-align: center;
    background: white;

}

#container {
    display: flex;
    align-content: center;
    background: white;


}

#leftButton {

    max-width: 15%;
    margin-top: 100px;
/*    border: solid;*/
    margin:auto;


}

#rightButton {

    max-width: 15%;
    margin-top: 100px;
/*    border: solid;*/
    margin:auto;

}

#main {
    float: left;
    padding: 10px;
    width: 80%;
    height: 500px;
/*    border: solid;*/
    border-color: dimgrey;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


section:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    padding: 35px;
    text-align: center;
    font-size: 15px;
    color: black;
/*    border: solid;*/
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}

.notes {
    float: right;
/*     border: solid;*/
    margin: 2% 5% 100% 5%;
    height: 80%;
    min-width: 20%;
    max-width: 45%;

}

.nav {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.nav:hover {
    transform: scale(1.08);
    margin: auto;
}

label {
    padding-right: 10px;
    font-size: 1rem;
    width: 50px;
    margin: auto;
}
