<div class="progressBar">
    <ul class="progressBar">
      <a href="/"><li class="active"></li></a>
      <a href="/race"><li class="active"></li></a>
      <a href="/class"><li class=""></li></a>
      <a href="/background"><li class=""></li></a>
      <a href="/ability"><li class=""></li></a>
      <a href="/proficiencies"><li class=""></li></a>
    </ul>
</div>
