<div class="progressBar">
    <ul class="progressBar">

        <li id="pb1" class="1"></li>

        <li id="pb2"class="2"></li>

        <li id="pb3"class="3"></li>

        <li id="pb4"class="4"></li>

        <li id="pb5"class="5"></li>

        <li id="pb6" class="6"></li>
      </a>
    </ul>
</div>
<!--  -->
