<head>
  <title>DND Builder</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/15d239d216.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/css/styles.css' />
</head>
<body>

    <div id="header">
        {{> banner }}
    </div>

    <div id="name">
        {{> tabbuttons }}
    </div>

    <div id="container">
      {{{ body }}}
    </div>

    {{> progressbar }}

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>

</body>
