{{> leftnav url=previous}}
<div id="main">
  <content class="class">
    <div id="win4" class="contour" style="display: block;">
      <hr>
      <h2>Ability Scores</h2><p>Assign the 6 Ability Scores.</p>
			   <table class="carac">
           <tbody>
             <tr id="carac">
               <tr>
                 <th></th>
                 <th></th>
                 <th>Brut<br>Score</th>
                 <th></th>
                 <th>Racial<br>Bonus</th>
                 <th>Final<br>Score</th>
               </tr>
               <tr>
                 <td class="nomcarac">
                   <strong>Strength</strong>
                 </td>
                  <td id="strengthMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="strength" class="valeurcarac caracbrut">10
                  </td>
                  <td id="strengthPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_0" class="valeurcarac">+1
                  </td>
                  <td id="carac_0" class="valeurcarac caracfinal">11 (+0)
                  </td>
                </tr>
                <tr>
                  <td class="nomcarac">
                    <strong>Dexterity</strong>
                  </td>
                  <td class="dexMins">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="dexterity" class="valeurcarac caracbrut">10
                  </td>
                  <td class="dexPlus">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_1" class="valeurcarac">+1</td>
                  <td id="carac_1" class="valeurcarac caracfinal">11 (+0)</td>
                </tr>
                <tr>
                  <td class="nomcarac">
                    <strong>Constitution</strong>
                  </td>
                  <td id="constMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="constitution" class="valeurcarac caracbrut">10</td>
                  <td class="constPlus">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_2" class="valeurcarac">+1</td>
                  <td id="carac_2" class="valeurcarac caracfinal">11 (+0)</td>
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Intelligence</strong>
                  </td>
                  <td id="intelMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="intelligence" class="valeurcarac caracbrut">10
                  </td>
                  <td id="intelPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_3" class="valeurcarac">+1
                  </td>
                  <td id="carac_3" class="valeurcarac caracfinal">11 (+0)</td>
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Wisdom</strong>
                  </td>
                  <td id="wisMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="wisdom" class="valeurcarac caracbrut">10
                  </td>
                  <td id="wisPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_4" class="valeurcarac">+1
                  </td>
                  <td id="carac_4" class="valeurcarac caracfinal">11 (+0)
                  </td>
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Charisma</strong>
                  </td>
                  <td id="charMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="charisma" class="valeurcarac caracbrut">10
                  </td>
                  <td class="charPlus">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <td id="carac_race_5" class="valeurcarac">+1
                  </td>
                  <td id="carac_5" class="valeurcarac caracfinal">11 (+0)
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <div id="comptePts">Points cost: </div>
            <div id="numPts"><strong>12</strong>/27 &nbsp; &nbsp; &nbsp; &nbsp;</div>
            <br>
          </div>
        </content>
        <div id="notes">Description
          <p>Word stuff</p>
        </div>
      </div>

      {{> rightnav url=next}}
