{{> leftnav url=previous}}
<div id="main">
  <content class="class" data-page-number=4>
    <div id="win4" class="contour" style="display: block;">
      <hr>
      <h2>Ability Scores</h2><p>Assign the 6 Ability Scores.</p>
			   <table class="carac">
           <tbody id="wrapper3">
             <tr id="carac">
               <tr>
                 <th></th>
                 <th></th>
                 <th>Starting<br>Points</th>
                 <th></th>
                 <!-- <th>Racial<br>Bonus</th>
                 <th>Final<br>Score</th> -->
               </tr>
               <tr>
                 <td class="nomcarac">
                   <strong>Strength</strong>
                 </td>
                  <td id="strengthMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="1" class="valeurcarac caracbrut">10
                  </td>
                  <td id="strengthPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="strengthBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_0" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
                <tr>
                  <td class="nomcarac">
                    <strong>Dexterity</strong>
                  </td>
                  <td id="dexMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="2" class="valeurcarac caracbrut">10
                  </td>
                  <td id="dexPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="dexBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_1" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
                <tr>
                  <td class="nomcarac">
                    <strong>Constitution</strong>
                  </td>
                  <td id="constMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="3" class="valeurcarac caracbrut">10</td>
                  <td id="constPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="constBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_2" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Intelligence</strong>
                  </td>
                  <td id="intelMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="4" class="valeurcarac caracbrut">10
                  </td>
                  <td id="intelPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="intelBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_3" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Wisdom</strong>
                  </td>
                  <td id="wisMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="5" class="valeurcarac caracbrut">10
                  </td>
                  <td id="wisPlus" class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="wisdomBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_4" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
                <tr>
                  <td class="nomcarac"><strong>Charisma</strong>
                  </td>
                  <td id="charMins" class="plusmoinsG">
                    <i class="bCarac fas fa-minus-square"></i>
                  </td>
                  <td id="6" class="valeurcarac caracbrut">10
                  </td>
                  <td id="charPlus"class="plusmoinsD">
                    <i class="bCarac fas fa-plus-square"></i>
                  </td>
                  <!-- <td id="charBonus" class="valeurcarac">+1
                  </td>
                  <td id="carac_5" class="valeurcarac caracfinal">11 (+0)
                  </td> -->
                </tr>
              </tbody>
            </table>
            <br>
            <div id="comptePts">Points cost: </div>
            <div ><strong id="numPts">10</strong>/27 &nbsp; &nbsp; &nbsp; &nbsp;</div>
            <br>
          </div>
        </content>

        <div><h3>Description</h3>
            <p id="notes"></p>
            </div>
      </div>

      {{> rightnav url=next}}
