<!-- <div id="leftButton"><button class="navArrow"><a class="link" href="{{previous}}"><img src="img/chevron-left.png"></a></button> </div> -->
{{> leftnav url=previous}}
<div id="main">
        <content class="class">
          <div id="win3" class="contour" style="display: block;">

			<h2>Background</h2>
              <p>Choose the character Background.</p>
			<div class="icone">
                <img src="img/back_acolyte.png" id="back_0" width="60" height="60" alt="" class="imgBChoix imgSelect" onclick="changeBack(0)"><br>Acolyte
              </div>
              <div class="icone">
                  <img src="img/back_criminel.png" id="back_4" width="60" height="60" alt="" class="imgBChoix" onclick="changeBack(4)"><br>Criminal
              </div>
              <div class="icone">
                  <img src="img/back_peuple.png" id="back_8" width="60" height="60" alt="" class="imgBChoix" onclick="changeBack(8)"><br>Folk hero
              </div>
              <div class="icone">
                  <img src="img/back_noble.png" id="back_10" width="60" height="60" alt="" class="imgBChoix" onclick="changeBack(10)"><br>Noble
              </div>
              <div class="icone">
                <img src="img/back_sage.png" id="back_11" width="60" height="60" alt="" class="imgBChoix" onclick="changeBack(11)"><br>Sage
              </div>
              <div class="icone">
                  <img src="img/back_soldat.png" id="back_12" width="60" height="60" alt="" class="imgBChoix" onclick="changeBack(12)"><br>Soldier
              </div>
		</div>

        </content>


      <div class="notes">notes section
          <p>Test words for stuff</p>
          </div>
      </div>
      {{> rightnav url=next}}
