
<div id="main">
  <p>Character Name: </p>
  <p>Race: </p>
  <p>Class: </p>
  <p>Background: </p>
  <p>Proficiencies: </p>
  <p>Abilies: </p>

  <!-- <div id="notes">notes section
    <p>Test words for stuff</p>
  </div>  -->
</div>
