{{> leftnav url=previous}}
<div id="main">
  <content class="class">
    <div id="win2" class="contour" style="">
			<h2>Class</h2>
        <p>Choose the character Class.</p>
			<div class="icone">
                <img src="img/class_barbare.png" id="classe_0" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(0)"><br>Barbarian</div><div class="icone">
                    <img src="img/class_barde.png" id="classe_1" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(1)"><br>Bard</div>
              <div class="icone">
                    <img src="img/class_pretre.png" id="classe_2" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(2)"><br>Cleric</div>
              <div class="icone">
              <img src="img/class_druide.png" id="classe_3" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(3)"><br>Druid</div>
              <div class="icone">
                  <img src="img/class_guerrier.png" id="classe_5" width="60" height="60" alt="" class="imgCChoix imgSelect" onclick="changeClasse(5)"><br>Fighter</div>
              <div class="icone">
                  <img src="img/class_moine.png" id="classe_7" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(7)"><br>Monk</div>
              <div class="icone">
                  <img src="img/class_paladin.png" id="classe_8" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(8)"><br>Paladin</div>
              <div class="icone">
                <img src="img/class_rodeur.png" id="classe_9" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(9)"><br>Ranger</div>
              <div class="icone">
                  <img src="img/class_roublard.png" id="classe_10" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(10)"><br>Rogue</div>
              <div class="icone">
                  <img src="img/class_ensorceleur.png" id="classe_4" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(4)"><br>Sorcerer</div>
              <div class="icone">
                  <img src="img/class_sorcier.png" id="classe_11" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(11)"><br>Warlock</div>
              <div class="icone">
                  <img src="img/class_magicien.png" id="classe_6" width="60" height="60" alt="" class="imgCChoix" onclick="changeClasse(6)"><br>Wizard</div>
			<hr><i class="bNext fas fa-chevron-circle-left" onclick="Next(0)"></i><i class="bNext fas fa-chevron-circle-right" onclick="Next(2)"></i>
		</div>
        </content>


      <div id="notes">Description
          <p>kjhfgklfjgklfjgkflsdjgklfjgjfdkgjlkfdjgkljflgksjfdklgjkfljglkfdjgklfdjglkdjsfglkfjglkfdjgslkdfjglkfjdglkjdflkgjfdlkjgkldfjglkdfjgkldjg</p>
          </div>
      </div>
      {{> rightnav url=next}}
