{{> leftnav url=previous}}
<div id="main">
  <content class="class">
    <div id="win2" class="contour" style="">
			<h2>Class</h2>
        <p>Choose the character Class.</p>
          <div id="wrapper1">
			      <div class="icone">
             <img src="img/class_barbare.png" id="Barbarian" width="60" height="60" alt="" class="imgCChoix"><br>Barbarian</div>
            <div class="icone">
              <img src="img/class_barde.png" id="Bard" width="60" height="60" alt="" class="imgCChoix"><br>Bard</div>
            <div class="icone">
              <img src="img/class_pretre.png" id="Cleric" width="60" height="60" alt="" class="imgCChoix"><br>Cleric</div>
            <div class="icone">
              <img src="img/class_druide.png" id="Druid" width="60" height="60" alt="" class="imgCChoix"><br>Druid</div>
            <div class="icone">
              <img src="img/class_guerrier.png" id="Fighter" width="60" height="60" alt="" class="imgCChoix"><br>Fighter</div>
            <div class="icone">
              <img src="img/class_moine.png" id="Monk" width="60" height="60" alt="" class="imgCChoix"><br>Monk</div>
            <div class="icone">
              <img src="img/class_paladin.png" id="Paladin" width="60" height="60" alt="" class="imgCChoix"><br>Paladin</div>
            <div class="icone">
              <img src="img/class_rodeur.png" id="Ranger" width="60" height="60" alt="" class="imgCChoix"><br>Ranger</div>
            <div class="icone">
              <img src="img/class_roublard.png" id="Rogue" width="60" height="60" alt="" class="imgCChoix"><br>Rogue</div>
            <div class="icone">
              <img src="img/class_ensorceleur.png" id="Sorcerer" width="60" height="60" alt="" class="imgCChoix"><br>Sorcerer</div>
            <div class="icone">
              <img src="img/class_sorcier.png" id="Warlock" width="60" height="60" alt="" class="imgCChoix"><br>Warlock</div>
            <div class="icone">
              <img src="img/class_magicien.png" id="Wizard" width="60" height="60" alt="" class="imgCChoix"><br>Wizard</div>
		      </div>
        </content>
      </div>


      <div id="notes">Description
          <p>kjhfgklfjgklfjgkflsdjgklfjgjfdkgjlkfdjgkljflgksjfdklgjkfljglkfdjgklfdjglkdjsfglkfjglkfdjgslkdfjglkfjdglkjdflkgjfdlkjgkldfjglkdfjgkldjg</p>
    </div>
      </div>
      {{> rightnav url=next}}
