<div id="leftButton"><button class="navArrow"><img src="img/chevron-left.png"></button> </div>
      <div id="main">main section
      <div id="notes">notes section
          <p>Test words for stuff</p>
          </div>
      </div>
      <div id="rightButton"><button class="navArrow"><a class="link" href="/race"><img src="img/chevron-right.png"></a></button></div>
