<div id="leftButton"><button class="navArrow"><a class="link" href="/ability"><img src="img/chevron-left.png"></a></button> </div>
      <div id="main">
        <content class="class">
          <div id="win6" class="contour" style="">

			<h2>Proficiencies</h2>
              <p>Choose the character's skills and languages.</p>
			<div id="competences">
                <h3>Class skills</h3>
                <select id="comp1_0" name="comp_1">
                    <option value="0">Acrobatics</option>
                    <option value="4">Animal Handling</option>
                    <option value="2">Athletics</option>
                    <option value="6">History</option>
                    <option value="8">Insight</option>
                    <option value="7">Intimidation</option>
                    <option value="12">Perception</option>
                    <option value="16">Survival</option></select>
                <select id="comp1_1" name="comp_1">
                    <option value="0">Acrobatics</option>
                    <option value="4">Animal Handling</option>
                    <option value="2">Athletics</option>
                    <option value="6">History</option>
                    <option value="8">Insight</option>
                    <option value="7">Intimidation</option>
                    <option value="12">Perception</option>
                    <option value="16">Survival</option>
                </select>
                <h3>Background skills</h3>
                <select id="comp2_0" name="comp_2" class="gris">
                    <option value="4">Animal Handling</option>
                </select>
                <select id="comp2_1" name="comp_2" class="gris">
                    <option value="16">Survival</option>
                </select>
                <h3>Background tools</h3>
                <select id="tool2_0" name="tool_2">
                    <option value="alchemist's supplies">Alchemist's supplies</option>
                    <option value="brewer's supplies">Brewer's supplies</option>
                    <option value="calligrapher's supplies">Calligrapher's supplies</option>
                    <option value="carpenter's tools">Carpenter's tools</option>
                    <option value="cartographer's tools">Cartographer's tools</option>
                    <option value="cobblers' tools">Cobblers' tools</option>
                    <option value="cook's utensils">Cook's utensils</option>
                    <option value="glassblower's tools">Glassblower's tools</option>
                    <option value="jeweler's tools">Jeweler's tools</option>
                    <option value="leatherworker's tools">Leatherworker's tools</option>
                    <option value="mason's tools">Mason's tools</option>
                    <option value="painter's supplies">Painter's supplies</option>
                    <option value="potter's tools">Potter's tools</option>
                    <option value="smith's tools">Smith's tools</option>
                    <option value="tinker's tools">Tinker's tools</option>
                    <option value="weaver's tools">Weaver's tools</option>
                    <option value="woodcarver's tools">Woodcarver's tools</option>
                </select>
                <select id="tool2_1" name="tool_2" class="gris">
                    <option value="vehicles (land)">Vehicles (land)</option>
                </select>
                <h3>Race languages</h3>
                <select id="lang0_0" name="lang_0" class="gris">
                    <option value="0">Common</option>
                </select>
                <select id="lang0_1" name="lang_0">
                    <option value="0" disabled="disabled">Common</option>
                    <option value="6">Dwarf</option>
                    <option value="1">Elvish</option>
                    <option value="2">Giant</option>
                    <option value="3">Gnomish</option>
                    <option value="4">Goblin</option>
                    <option value="5">Halfling</option>
                    <option value="7">Orc</option>
                    <option value="8">Abyssal</option>
                    <option value="9">Celestial</option>
                    <option value="14">Deep speech</option>
                    <option value="11">Draconic</option>
                    <option value="12">Infernal</option>
                    <option value="13">Primordial</option>
                    <option value="15">Sylvan</option>
                    <option value="10">Undercommon</option>
                </select>
              </div>

		</div>
        </content>


      <div id="notes">notes section
          <p>Test words for stuff</p>
          </div>
      </div>
      {{> rightnav url=next}}
