<div id="leftButton"><button class="navArrow"><a href="/"><img src="img/chevron-left.png"></a></button> </div>
<div id="main" >
        <content  class="class" data-page-number=1>
          <div id="win1" class="contour">

      <h2>Character Name</h2>
        <input type="text" id="characterName" placeholder="Characeter Name" />
			<h2>Race</h2>
              <p>Choose the character Race.</p>
          <div id="wrapper">
            <div class="icone">
              <img src="img/race_nain1.png" id="1" width="60" height="60" alt="" class="imgRChoix Dawf"><br>Dwarf</div>
            <div class="icone">
                  <img src="img/race_highelf.png" id="2" width="60" height="60" alt="" class="imgRChoix Elf"><br>Elf</div>
              <div class="icone">
                  <img src="img/race_halfeling.png" id="3" width="60" height="60" alt="" class="imgRChoix Halfling"><br>Halfling</div>
              <div class="icone">
                  <img src="img/race_humain.png" id="4" width="60" height="60" alt="" class="imgRChoix Human"><br>Human</div>
              <div class="icone">
                  <img src="img/race_drakeide.png" id="5" width="60" height="60" alt="" class="imgRChoix Dragonborn" ><br>Dragonborn</div>
              <p>
              <div class="icone">
                  <img src="img/race_gnome2.png" id="6" width="60" height="60" alt="" class="imgRChoix rockGnome"><br>Gnome</div>
              <div class="icone"
                   ><img src="img/race_demielfe.png" id="7" width="60" height="60" alt="" class="imgRChoix halfElf"><br>Half-Elf</div>
              <div class="icone">
                  <img src="img/race_demiorc.png" id="8" width="60" height="60" alt="" class="imgRChoix halfOrc"><br>Half Orc</div>
              <div class="icone">
                  <img src="img/race_tieffelin.png" id="9" width="60" height="60" alt="" class="imgRChoix tiefling"><br>Tiefling</div>
                </p>
		          </div>
            </div>


        </content>


      <div><h3>Description</h3>
          <p id="notes"></p>
          </div>
      </div>
      {{> rightnav url=next}}
