<div id="leftButton"><button class="navArrow"><a href="/"><img src="img/chevron-left.png"></a></button> </div>
      <div id="main">
        <content class="class">
          <div id="win1" class="contour" style="">

      <h2>Character Name</h2>
        <input type="text" id="characterName" placeholder="Choose a Name" />
			<h2>Race</h2>
              <p>Choose the character Race.</p>
            <div class="icone">
              <img src="img/race_nain1.png" id="race_7" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(7)"><br>Hill dwarf</div>
            <div class="icone">
                  <img src="img/race_highelf.png" id="race_2" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(2)"><br>High elf</div>
              <div class="icone">
                  <img src="img/race_halfeling.png" id="race_5" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(5)"><br>Lightfoot halfling</div>
              <div class="icone">
                  <img src="img/race_humain.png" id="race_0" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(0)"><br>Human</div>
              <div class="icone">
                  <img src="img/race_drakeide.png" id="race_13" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(13)"><br>Dragonborn</div>
              <div class="icone">
                  <img src="img/race_gnome2.png" id="race_10" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(10)"><br>Rock gnome</div>
              <div class="icone"
                   ><img src="img/race_demielfe.png" id="race_11" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(11)"><br>Half-elf</div>
              <div class="icone">
                  <img src="img/race_demiorc.png" id="race_12" width="60" height="60" alt="" class="imgRChoix" onclick="changeRace(12)"><br>Half-orc</div>
              <div class="icone">
                  <img src="img/race_tieffelin.png" id="race_14" width="60" height="60" alt="" class="imgRChoix imgSelect" onclick="changeRace(14)"><br>Tiefling</div>
		          </div>
        </content>


      <div id="notes">Description
          <p>pull from API</p>
          </div>
      </div>
      <div id="rightButton"><button class="navArrow"><a class="link" href="/class"><img src="img/chevron-right.png"></a></button></div>
