<div id="leftButton"><button class="navArrow"><a href="/"><img src="img/chevron-left.png"></a></button> </div>
      <div id="main">
        <content class="class">
          <div id="win1" class="contour" style="">

      <h2>Character Name</h2>
        <input type="text" id="characterName" placeholder="Choose a Name" />
			<h2>Race</h2>
              <p>Choose the character Race.</p>
          <div id="wrapper">
            <div class="icone">
              <img src="img/race_nain1.png" id="Hill Dawf" width="60" height="60" alt="" class="imgRChoix hillDawf"><br>Hill dwarf</div>
            <div class="icone">
                  <img src="img/race_highelf.png" id="High Elf" width="60" height="60" alt="" class="imgRChoix highElf"><br>High Elf</div>
              <div class="icone">
                  <img src="img/race_halfeling.png" id="Lightfoot Halfling" width="60" height="60" alt="" class="imgRChoix halfling"><br>Lightfoot Halfling</div>
              <div class="icone">
                  <img src="img/race_humain.png" id="Human" width="60" height="60" alt="" class="imgRChoix human"><br>Human</div>
              <div class="icone">
                  <img src="img/race_drakeide.png" id="Dragonborn" width="60" height="60" alt="" class="imgRChoix dragonBorn" ><br>Dragonborn</div>
              <div class="icone">
                  <img src="img/race_gnome2.png" id="Rock Gnome" width="60" height="60" alt="" class="imgRChoix rockGnome"><br>Rock Gnome</div>
              <div class="icone"
                   ><img src="img/race_demielfe.png" id="Half Elf" width="60" height="60" alt="" class="imgRChoix halfElf"><br>Half-Elf</div>
              <div class="icone">
                  <img src="img/race_demiorc.png" id="Half Orc" width="60" height="60" alt="" class="imgRChoix halfOrc"><br>Half Orc</div>
              <div class="icone">
                  <img src="img/race_tieffelin.png" id="Tiefling" width="60" height="60" alt="" class="imgRChoix tiefling"><br>Tiefling</div>
		          </div>
            </div>


        </content>


      <div id="notes">Description
          <p>pull from API</p>
          </div>
      </div>
      {{> rightnav url=next}}
      
